<media-player
    src="/api/playlist.m3u8?url=/api/stream&path=dev/sample__1080__libx265__ac3__30s__video.mkv&duration=00:00:30"
    controlsList="nodownload"
    controls
    autoplay>
        <media-outlet></media-outlet>
</media-player>

<p class="hidden">
  Peace of mind from prototype to production.
</p>