<media-player
    src={"/api/playlist.m3u8?url=/api/stream&path=#{ @path }&duration=#{ @duration }"}
    controlsList="nodownload"
    controls
    autoplay>
        <media-outlet></media-outlet>
</media-player>